# Covid-19 Diagnosis!

> The World Health Organization (WHO) characterized the COVID-19, caused by the SARS-CoV-2, as a pandemic on March 11, while the exponential increase in the number of cases was risking to overwhelm health systems around the world with a demand for ICU beds far above the existing capacity, with regions of Italy being prominent examples.

## Overall Information

### Motivation

The world needs us to put all our knowledge to help solve this issue! Getting there means save a lot of lifes!

### Which task is going to be solved

We are going to work with the [Task 1](https://www.kaggle.com/einsteindata4u/covid19/tasks?taskId=645) which answers the question:
> Based on the results of laboratory tests commonly collected for a suspected COVID-19 case during a visit to the emergency room, would it be possible to predict the test result for SARS-Cov-2 (positive/negative)?

### How to work on this

This Notebook will hold all the tests done to make it work. The idea is to build tests using differents tools and hyperparameters in order to find the best combination of tools and parameters. At the end, the best combination will be transform into a package which is going to be used on the final result.

So it can work better, the project will be devided into some points, they are:
Processing Data, Ways to solve (from easy to hard), Final analysis

1) Processing Data: The data is still a mistery. The idea is to load data, find issues on data, work on blank spaces and make others arrangements to make it good for it

2) Ways to solve: So far was choosed Sklearn simple regression and Tensor-flow Deep Learning. More ideas may bring up during the process.

3) FInal Analisys: Plot some graphs with info from results.

In [1]:
# Import need libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Processing Data

In [4]:
!pip3 install xlrd>=1.0.0

In [15]:
dataset = pd.read_excel('/data/dataset.xlsx')
dataset

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dataset[dataset.Hematocrit.notnull()]

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8bb9d64f0215244,1,negative,0,1,0,-1.571682,-0.774212,1.429667,-1.672222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730393,NaN
15,6c9d3323975b082,9,negative,0,0,0,-0.747693,-0.586244,-0.429480,-0.213711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,d3ea751f3db9de9,11,negative,0,0,0,0.991838,0.792188,0.072992,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2c2eae16c12a18a,9,negative,0,0,0,0.190738,-0.147652,-0.668155,1.020415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5602,c5b44ff9c7782fd,19,negative,0,0,0,0.190738,0.165628,-0.102873,0.908221,...,0.22499,-0.202859,-0.011817,0.11312,-0.074619,-0.066989,-0.159955,-0.597097,NaN,0.182693
5614,88cce1444e16f9c,19,negative,0,0,0,-0.289922,-0.523588,0.663397,-0.774677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5615,2733fac0d3f7138,15,negative,0,0,0,0.717175,1.105468,-0.492289,-0.213711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5618,acd761fe16b5d0f,17,negative,0,0,0,-3.242548,-2.779203,-1.773594,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
[each for each in dataset.keys()]

['Patient ID',
 'Patient age quantile',
 'SARS-Cov-2 exam result',
 'Patient addmited to regular ward (1=yes, 0=no)',
 'Patient addmited to semi-intensive unit (1=yes, 0=no)',
 'Patient addmited to intensive care unit (1=yes, 0=no)',
 'Hematocrit',
 'Hemoglobin',
 'Platelets',
 'Mean platelet volume ',
 'Red blood Cells',
 'Lymphocytes',
 'Mean corpuscular hemoglobin concentration\xa0(MCHC)',
 'Leukocytes',
 'Basophils',
 'Mean corpuscular hemoglobin (MCH)',
 'Eosinophils',
 'Mean corpuscular volume (MCV)',
 'Monocytes',
 'Red blood cell distribution width (RDW)',
 'Serum Glucose',
 'Respiratory Syncytial Virus',
 'Influenza A',
 'Influenza B',
 'Parainfluenza 1',
 'CoronavirusNL63',
 'Rhinovirus/Enterovirus',
 'Mycoplasma pneumoniae',
 'Coronavirus HKU1',
 'Parainfluenza 3',
 'Chlamydophila pneumoniae',
 'Adenovirus',
 'Parainfluenza 4',
 'Coronavirus229E',
 'CoronavirusOC43',
 'Inf A H1N1 2009',
 'Bordetella pertussis',
 'Metapneumovirus',
 'Parainfluenza 2',
 'Neutrophils',
 'Urea',
 'Proteina C reativa mg/dL',
 'Creatinine',
 'Potassium',
 'Sodium',
 'Influenza B, rapid test',
 'Influenza A, rapid test',
 'Alanine transaminase',
 'Aspartate transaminase',
 'Gamma-glutamyltransferase\xa0',
 'Total Bilirubin',
 'Direct Bilirubin',
 'Indirect Bilirubin',
 'Alkaline phosphatase',
 'Ionized calcium\xa0',
 'Strepto A',
 'Magnesium',
 'pCO2 (venous blood gas analysis)',
 'Hb saturation (venous blood gas analysis)',
 'Base excess (venous blood gas analysis)',
 'pO2 (venous blood gas analysis)',
 'Fio2 (venous blood gas analysis)',
 'Total CO2 (venous blood gas analysis)',
 'pH (venous blood gas analysis)',
 'HCO3 (venous blood gas analysis)',
 'Rods #',
 'Segmented',
 'Promyelocytes',
 'Metamyelocytes',
 'Myelocytes',
 'Myeloblasts',
 'Urine - Esterase',
 'Urine - Aspect',
 'Urine - pH',
 'Urine - Hemoglobin',
 'Urine - Bile pigments',
 'Urine - Ketone Bodies',
 'Urine - Nitrite',
 'Urine - Density',
 'Urine - Urobilinogen',
 'Urine - Protein',
 'Urine - Sugar',
 'Urine - Leukocytes',
 'Urine - Crystals',
 'Urine - Red blood cells',
 'Urine - Hyaline cylinders',
 'Urine - Granular cylinders',
 'Urine - Yeasts',
 'Urine - Color',
 'Partial thromboplastin time\xa0(PTT)\xa0',
 'Relationship (Patient/Normal)',
 'International normalized ratio (INR)',
 'Lactic Dehydrogenase',
 'Prothrombin time (PT), Activity',
 'Vitamin B12',
 'Creatine phosphokinase\xa0(CPK)\xa0',
 'Ferritin',
 'Arterial Lactic Acid',
 'Lipase dosage',
 'D-Dimer',
 'Albumin',
 'Hb saturation (arterial blood gases)',
 'pCO2 (arterial blood gas analysis)',
 'Base excess (arterial blood gas analysis)',
 'pH (arterial blood gas analysis)',
 'Total CO2 (arterial blood gas analysis)',
 'HCO3 (arterial blood gas analysis)',
 'pO2 (arterial blood gas analysis)',
 'Arteiral Fio2',
 'Phosphor',
 'ctO2 (arterial blood gas analysis)']

In [29]:
print("The shape of the entire data is", dataset.shape)
dataset_droped_na = dataset.dropna(subset=[
    'Hematocrit',
     'Hemoglobin',
     'Platelets',
     'Mean platelet volume ',
     'Red blood Cells',
     'Lymphocytes',
     'Mean corpuscular hemoglobin concentration\xa0(MCHC)',
     'Leukocytes',
     'Basophils',
     'Mean corpuscular hemoglobin (MCH)',
     'Eosinophils',
     'Mean corpuscular volume (MCV)',
     'Monocytes',
     'Red blood cell distribution width (RDW)',
     'Serum Glucose',
     'Respiratory Syncytial Virus',
     'Influenza A',
     'Influenza B',
     'Parainfluenza 1',
     'CoronavirusNL63',
     'Rhinovirus/Enterovirus',
     'Mycoplasma pneumoniae',
     'Coronavirus HKU1',
     'Parainfluenza 3',
     'Chlamydophila pneumoniae',
     'Adenovirus',
     'Parainfluenza 4',
     'Coronavirus229E',
     'CoronavirusOC43',
     'Inf A H1N1 2009',
     'Bordetella pertussis',
     'Metapneumovirus',
     'Parainfluenza 2',
     'Neutrophils',
     'Urea',
     'Proteina C reativa mg/dL',
     'Creatinine',
     'Potassium',
     'Sodium',
     'Influenza B, rapid test',
     'Influenza A, rapid test',
     'Alanine transaminase',
     'Aspartate transaminase',
     'Gamma-glutamyltransferase\xa0',
     'Total Bilirubin',
     'Direct Bilirubin',
     'Indirect Bilirubin',
     'Alkaline phosphatase',
     'Ionized calcium\xa0',
     'Strepto A',
     'Magnesium',
     'pCO2 (venous blood gas analysis)',
     'Hb saturation (venous blood gas analysis)',
     'Base excess (venous blood gas analysis)',
     'pO2 (venous blood gas analysis)',
     'Fio2 (venous blood gas analysis)',
     'Total CO2 (venous blood gas analysis)',
     'pH (venous blood gas analysis)',
     'HCO3 (venous blood gas analysis)',
     'Rods #',
     'Segmented',
     'Promyelocytes',
     'Metamyelocytes',
     'Myelocytes',
     'Myeloblasts',
     'Urine - Esterase',
     'Urine - Aspect',
     'Urine - pH',
     'Urine - Hemoglobin',
     'Urine - Bile pigments',
     'Urine - Ketone Bodies',
     'Urine - Nitrite',
     'Urine - Density',
     'Urine - Urobilinogen',
     'Urine - Protein',
     'Urine - Sugar',
     'Urine - Leukocytes',
     'Urine - Crystals',
     'Urine - Red blood cells',
     'Urine - Hyaline cylinders',
     'Urine - Granular cylinders',
     'Urine - Yeasts',
     'Urine - Color',
     'Partial thromboplastin time\xa0(PTT)\xa0',
     'Relationship (Patient/Normal)',
     'International normalized ratio (INR)',
     'Lactic Dehydrogenase',
     'Prothrombin time (PT), Activity',
     'Vitamin B12',
     'Creatine phosphokinase\xa0(CPK)\xa0',
     'Ferritin',
     'Arterial Lactic Acid',
     'Lipase dosage',
     'D-Dimer',
     'Albumin',
     'Hb saturation (arterial blood gases)',
     'pCO2 (arterial blood gas analysis)',
     'Base excess (arterial blood gas analysis)',
     'pH (arterial blood gas analysis)',
     'Total CO2 (arterial blood gas analysis)',
     'HCO3 (arterial blood gas analysis)',
     'pO2 (arterial blood gas analysis)',
     'Arteiral Fio2',
     'Phosphor',
     'ctO2 (arterial blood gas analysis)'
], how='all')

The shape of the entire data is (5644, 111)

In [30]:
print("The shape of the entire data is", dataset_droped_na.shape)

The shape of the entire data is (2101, 111)

In [31]:
dataset_droped_na.tail()

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
5618,acd761fe16b5d0f,17,negative,0,0,0,-3.242548,-2.779203,-1.773594,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,42f299bee500ca4,7,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5634,db77903261ab6d0,15,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN